//Background color
$background-color: #cfcfcf;
$background-color-1: #0a66c2;
$background-color-2: #42b72a;

//Font colors
$font-color-1: #1c1e21;
$font-color-2: #8a8d91;
$font-color-3: #ffffff;

//Border colors
$border-color-1: #000000;
$border-color-2: #1877f2;
