.home {
  height: 100vh;
  width: 100%;
  padding:0 3rem;
  background-color:#f3f2ef;
  position: relative;
  .home-body{
    padding:4rem;
    width:100%;
    background-color:#f3f2ef;
    margin:auto;
  }
}
