@import './mixin.scss';
@import './variables.scss';

.login {
  width: 100%;
  height: 100vh;
  position: relative;

  @include flex;
  flex-direction: column;
  .login-logo {
    position: absolute;
    height: 7rem;
    top: -1rem;
    left: 2rem;
    img {
      height: 100%;
    }
  }
  .card {
    box-shadow: 0px 0px 22px 2px rgba(0, 0, 0, 0.32);
    width: 22rem;
    padding: 2rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 0.8rem;
    span {
      font-size: 0.9rem;
    }
    .login-form {
      @include flex($justify: flex-start, $align: flex-start);
      flex-direction: column;
      padding: 1rem 0;
      width: 100%;
      .login-forgotpassword {
        padding: 0.5rem 0.5rem 0.5rem 0;
        font-size: 1rem;
        font-weight: bolder;
        color: $background-color-1 !important;
        cursor: pointer;
        transition: 0.3s ease-out;
        border-radius: 2rem;
        &:hover {
          background-color: #98d8f4;
          padding-left: 0.5rem;
          text-decoration: underline;
        }
      }
      .login-submit {
        transition: 0.3s ease-in-out;
        &:hover {
          box-shadow: 0px 0px 8px 3px #004182 inset;
          opacity: 0.9;
        }
      }
    }
    .login-or {
      @include flex;
      width: 100%;
      span {
        padding: 0rem 1rem;
      }
      padding-bottom: 0.5rem;
      .login-dash {
        width: 100%;
        height: 1px;
        background-color: black;
        opacity: 0.6;
      }
    }
    .login-google {
      background-color: #ffffff;
      transition: 0.3s ease-in-out;
      border: 1px solid $background-color;
      color: #000000;
      opacity: 0.7;
      &:hover {
        box-shadow: 0px 0px 8px 4px #cfcfcf inset;
      }
    }
  }

  .login-join {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    font-size: 1rem;
    font-weight: bolder;
    color: $background-color-1 !important;
    cursor: pointer;
    transition: 0.3s ease-out;
    border-radius: 2rem;
    &:hover {
      background-color: #98d8f4;
      padding-left: 0.5rem;
      text-decoration: underline;
    }
  }
}
